.home-button {
    margin-top: 3rem;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: royalblue;
    color: #fff;
    padding: 1.2rem 2rem;
    transition: background-color .3s;
}

.home-button:hover {
    background-color: rgb(17, 57, 179);
}
