.selectbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(65, 60, 60, 0.568);
    margin: 0 0 4rem 0;
    
}

.selectbar__select, .selectbar__label {
    font-size: 1.6rem;
    margin-left: 1.6rem;
    max-width: 90%;
    margin-bottom: 1rem;
    
}

.selectbar__select {
    width: 20rem;
}